In [2]:
import pandas as pd
import numpy as np

## Series

In [2]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[-0.60855861 -0.27541983  0.36262875 -0.77030543]

<class 'pandas.core.series.Series'>
0   -0.608559
1   -0.275420
2    0.362629
3   -0.770305
dtype: float64

In [8]:
# The basic method to create a pandas.Series is to call:
# s = pd.Series(data, index=index)

In [4]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [5]:
# A series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

In [6]:
# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

In [7]:
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

In [8]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

In [9]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

In [10]:
# Series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [11]:
# Check if series has NAs
s.hasnans

True

In [12]:
# After detecting there are Na values, we might be intersted in knowing which elements in the series are NAs.
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [15]:
# The integer number -999 is often used to represent missing values. 
# Create a pandas.Series named s with four integer values, two of which are -999. 
# The index of this series should be the the letters A through D.

s = pd.Series([1, 2, -999, -999], index = ["A", "B", "C", "D"])

A      1
B      2
C   -999
D   -999
dtype: int64

In [19]:
# In the pandas.Series documentation, look for the method mask(). 
# Use this method to update the series s so that the -999 values are replaced by NA values. 
# HINT: check the first example in the methodâ€™s documentation.

s.mask(s == -999, inplace = True)
s

A    1.0
B    2.0
C    NaN
D    NaN
dtype: float64

## DataFrames

In [3]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [4]:
# Change index
df.index = ['a','b','c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3

In [7]:
# Update the column names to C1 and C2 by updating the columns attribute.

df.rename(columns={'col_name_1':'C1', 'col_name_2':'C2'}, inplace = True)
df

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3